<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Simple Table</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Prénom
                </th>
                <th>
                  Email
                </th>
                <th>
                  Username
                </th>
                </thead>
                <tbody>
                <tr *ngFor="let c of collaborateurs._embedded.utilisateurs">
                  <td>{{c.id}}</td>
                  <td>{{c.nom}}</td>
                  <td>{{c.prenom}}</td>
                  <td>{{c.email}}</td>
                  <td>{{c.username}}</td>
                  <td><button class="btn btn-danger" > Profil Detail</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
